/* :root {
    --summary__banner-max-height: none;
} */

.header--main .banner img {
    position: unset !important; /* Overrides banner-figure.html */
    object-position: 100% 20%;
}

.header__subtitle {
    font-size: 3rem;
}
